<div class="container-fluid full-height p-0">
  <mat-drawer-container class="full-height">
    <mat-drawer mode="side" opened disableClose>
      <mat-nav-list class="text-white side-bar full-height">
        <mat-list-item routerLink="overview">Обзор</mat-list-item>
        <mat-list-item>Матчи</mat-list-item>
        <mat-list-item routerLink="tournaments">Турниры</mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="col-md-8 mx-lg-5 full-height">
        <h1 class="text-white text-lg-center factory-header full-width">
          {{player?.surname}} {{player?.name}} {{player?.patronymic}}
        </h1>
        <h2 class="text-white text-lg-center factory-header full-width">
          {{player?.rni}}
        </h2>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
