<div cdkDropList
     [cdkDropListConnectedTo]="dragDropService.bracketDropLists"
     [cdkDropListData]="playerArray"
     (cdkDropListDropped)="dropHandle($event)"
     [cdkDropListEnterPredicate]="predicate">

  <div>
    <div *ngIf="player"
         [cdkDragDisabled]="!bracketService.editMode"
         cdkDrag
         [cdkDragData]="player"
         (cdkDragStarted)="dragStart($event)"
         (cdkDragDropped)="dragDrop($event)"
         (cdkDragEnded)="dragEnd($event)">
      {{player.surname}} {{player.name[0]}}.
    </div>
  </div>

  <div *ngIf="!player">
    <div>
      <mat-icon>clear</mat-icon>
    </div>
  </div>
</div>
