<div cdkDropList
     [cdkDropListConnectedTo]="dragDropService.bracketDropLists"
     [cdkDropListData]="playerArray"
     (cdkDropListDropped)="dropHandle($event)"
     [cdkDropListEnterPredicate]="predicate">

  <div class="d-flex justify-content-start">
    <span style="color: gold; margin-right: 20px" *ngIf="showPosition">{{orderInBracket}}</span>
    <div *ngIf="player"
         [cdkDragDisabled]="!bracketService.editMode"
         cdkDrag
         [cdkDragData]="player"
         (cdkDragStarted)="dragStart($event)"
         (cdkDragDropped)="dragDrop($event)"
         (cdkDragEnded)="dragEnd($event)">
      <span>{{player.surname}} {{player.name[0]}}.</span>
    </div>
    <div *ngIf="!player">
      <div>
        <mat-icon>clear</mat-icon>
      </div>
    </div>
  </div>


</div>
