<mat-card class="container-match" *ngIf="match">
  <mat-card-content class="text-white h-100">

    <div class="d-flex justify-content-end margin-top">
      <a mat-button *ngIf="canEdit && !matchService.editMode" (click)="startEdit(match)">
        <mat-icon color="accent">create</mat-icon>
      </a>
      <a mat-button *ngIf="canEdit && matchService.editMode" (click)="save()">
        <mat-icon class="green">check</mat-icon>
      </a>
      <a mat-button *ngIf="canEdit && matchService.editMode" (click)="cancel()">
        <mat-icon color="warn">clear</mat-icon>
      </a>
    </div>

    <div class="d-flex justify-content-between margin-top">

      <!-- player left -->
      <div class="player-info">
        <app-player-in-match-dialog
          class="text-end bright-header mx-2"
          [match]="match"
          [player]="match?.player1"
          (onPlayerChange)="changePlayer(0, $event)">
        </app-player-in-match-dialog>
      </div>

      <!-- score -->
      <div class="score-block">
        <div *ngFor="let i of [0, 1, 2]">
          <div class="d-flex justify-content-center bright-header my-2"
               *ngIf="score && score.playerScore1.length > i && score.playerScore2.length > i">
            <app-digit (onChange)="updateScore()" [match]="match" [digit]="score.playerScore1[i]" [playerNumber]="0"
                       class="mx-5 text-xxx-large"></app-digit>
            <div class="mx-5 shady-header text-vertical-center">{{i + 1}} сет</div>
            <app-digit (onChange)="updateScore()" [match]="match" [digit]="score.playerScore2[i]" [playerNumber]="1"
                       class="mx-5 text-xxx-large"></app-digit>
            <button mat-icon-button color="accent" *ngIf="matchService.editMode">
              <mat-icon (click)="removeSet()" color="accent">
                clear icon
              </mat-icon>
            </button>
          </div>

          <div class="d-flex justify-content-center bright-header my-2"
               *ngIf="score && score.playerScore1.length < i + 1 && matchService.editMode">
            <button mat-icon-button color="accent">
              <mat-icon (click)="addSet()" color="accent">
                add icon
              </mat-icon>
            </button>
          </div>

        </div>

        <div class="d-flex justify-content-between" *ngIf="score?.situationMessage">
          <div class="red">{{match.winner?.rni == match.player2?.rni ? score?.situationMessage : ''}}</div>
          <div class="red">{{match.winner?.rni == match.player1?.rni ? score?.situationMessage : ''}}</div>
        </div>

        <div class="d-flex justify-content-center" *ngIf="!match?.winner && matchService.editMode">
          <a mat-button class="bright-header text-xxx-large" color="accent" *ngFor="let i of [0, 1]"
             (click)="setWin(i)">
            Победа
          </a>
        </div>

        <div class="d-flex justify-content-between margin-top bright-header" *ngIf="match?.winner">
          <div class="text-x-large w-33 text-center"
               *ngFor="let player of [match?.player1, null, match?.player2]">
            <div *ngIf="player?.rni == match?.winner?.rni">
              Победа
            </div>
          </div>
          <div style="width: 5%" *ngIf="matchService.editMode">
            <button mat-icon-button color="accent" class="pin">
              <mat-icon (click)="resetVictory()" color="accent">
                edit button
              </mat-icon>
            </button>
          </div>
        </div>

        <app-duration [match]="match" ></app-duration>

        <div class="d-flex justify-content-center">
          <div class="shady-header d-flex justify-content-center win">
            <div class="bright-header mx-1">
              <div class="text-x-large">{{win}}%</div>
            </div>
            <mat-progress-bar mode="determinate" value="{{win}}" color="accent">
            </mat-progress-bar>
            <div class="bright-header mx-1">
              <div class="text-x-large">{{100 - win}}%</div>
            </div>
          </div>
        </div>

      </div>

      <!-- player right -->
      <div class="player-info">
        <app-player-in-match-dialog
          class="text-start bright-header mx-2"
          [match]="match"
          [player]="match?.player2"
          (onPlayerChange)="changePlayer(1, $event)">
        </app-player-in-match-dialog>
      </div>
    </div>
  </mat-card-content>
</mat-card>
