<div class="d-flex justify-content-center">
  <div class="settings-container">
    <mat-card class="settings-card">
      <mat-card-content>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="shady-header">Почта </span>
            <span>{{account?.email}}</span>
          </div>
          <a mat-icon-button>
            <mat-icon>create</mat-icon>
          </a>
        </div>
        <div class="rni-container margin-top">
          <div *ngIf="account?.player" class="d-flex justify-content-between align-items-center">
            <div>РНИ: {{account?.player?.rni}}</div>
            <a mat-icon-button>
              <mat-icon>create</mat-icon>
            </a>
          </div>
          <div *ngIf="!account?.player" (click)="findPlayer()">Привязать себя</div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
