<div cdkDropList
     [cdkDropListConnectedTo]="dragDropService.dropLists"
     [cdkDropListData]="playerList"
     (cdkDropListDropped)="dropHandle($event)">

  <div class="row">
    <mat-card class="color-dark col-md-12 my-4">
      <mat-card-header>
        <div class="d-flex my-1 justify-content-between w-100">
          <div>Сетка</div>
          <div>
            <a mat-button *ngIf="!bracketService.editMode" (click)="startEdit()">
              <mat-icon color="accent">create</mat-icon>
            </a>
            <a mat-button *ngIf="bracketService.editMode" (click)="save()">
              <mat-icon class="green">check</mat-icon>
            </a>
            <a mat-button *ngIf="bracketService.editMode" (click)="cancel()">
              <mat-icon color="warn">clear</mat-icon>
            </a>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content style="height: 800px; overflow: auto">

        <mat-card class="side-menu position-absolute" *ngIf="bracketService.editMode">
          <mat-card-content class="h-100 y-scroll">

            <mat-radio-group aria-label="Select an option"
                             [(ngModel)]="currentOption"
                             (ngModelChange)="updatePlayerList()">
              <mat-radio-button *ngFor="let option of options" [value]="option" class="mx-2 my-1">{{option.name}}</mat-radio-button>
            </mat-radio-group>
            <h5 class="shady-header">{{currentOption.name}}</h5>
            <hr>
            <mat-card *ngFor="let player of playerList"
                      cdkDrag
                      [cdkDragData]="player"
                      (cdkDragDropped)="dropPlayer($event)"
                      class="my-1">
              <mat-card-content [textContent]="player.surname"></mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>

        <drag-scroll [drag-disabled]="dragDropService.isDraggingMatch"
                     [scrollbar-hidden]="true" class="bracket"
                     [ngClass]="bracketService.editMode ? 'crop-right-200' : ''"
                     *ngIf="bracket">
          <ngtt-single-elimination-tree
            [tournament]="bracket!"
            [matchTemplate]="myMatchTemplate">
          </ngtt-single-elimination-tree>
        </drag-scroll>

      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #myMatchTemplate let-match>
    <app-single-match-preview [match]="match"
                              *ngIf="match"
                              class="match"
                              (onMatchChange)="updateMatch($event)"
                              (click)="openMatch(match)">
    </app-single-match-preview>
  </ng-template>

  <router-outlet></router-outlet>
</div>

