<div class="row">
  <mat-card class="color-dark col-md-12 my-4">
    <mat-card-header>Сетка</mat-card-header>
    <mat-card-content class="margin-top">
      <drag-scroll [scrollbar-hidden]="true" class="bracket">
        <ngtt-single-elimination-tree
          [tournament]="bracket"
          [matchTemplate]="myMatchTemplate">
        </ngtt-single-elimination-tree>
      </drag-scroll>
    </mat-card-content>
  </mat-card>
</div>


<ng-template #myMatchTemplate let-match>
  <app-single-match-preview [match]="match"
                            style="display: flex; justify-content: stretch; width: 100%">
  </app-single-match-preview>
</ng-template>
