.match-cell {
  height: 200px;
  width: 300px;
  vertical-align: center;
  color: #d1ebff;
}

.player-in-cell{
  height: 95px;
  vertical-align: middle;
  text-align: center;
}

.progress-bar-custom{
  height: 10px;
}
