<form class="dialog-container">
  <div class="d-flex justify-content-between">

    <!-- City -->

    <div class="d-flex justify-content-between align-items-center w-50 mx-2">
      <mat-form-field color="accent">
        <mat-label>Город</mat-label>
        <input type="text" matInput
               (ngModelChange)="updateCityFilter($event)"
               [matAutocomplete]="cityAutoComplete"
               [formControl]="cityFormControl">
        <mat-autocomplete
          #cityAutoComplete="matAutocomplete"
          [displayWith]="displayDelegateCity">
          <mat-option *ngFor="let city of cityFilteredOptions | async" [value]="city">
            {{city.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <a mat-button (click)="clearCity()">
        <mat-icon color="warn">clear</mat-icon>
      </a>
    </div>

    <!-- Gender -->
    <div class="d-flex justify-content-between align-items-center w-50 mx-2">
      <mat-radio-group aria-label="Select an option"
                       [(ngModel)]="filterOptions.gender"
                       [ngModelOptions]="{standalone: true}">
        <mat-radio-button value=0 class="mx-2">М</mat-radio-button>
        <mat-radio-button value=1 class="mx-2">Ж</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <!-- Player -->

  <div class="d-flex justify-content-between mx-2">
    <mat-form-field color="accent" class="full-width">
      <mat-label>Игроки в турнире</mat-label>
      <input type="text" matInput
             (ngModelChange)="updatePlayerFilter($event)"
             [matAutocomplete]="playerAutoComplete"
             [formControl]="playerFormControl">
      <mat-autocomplete
        #playerAutoComplete="matAutocomplete"
        [displayWith]="displayDelegatePlayer">
        <mat-option *ngFor="let player of playerFilteredOptions | async" [value]="player"
                    (click)="confirm(player)">
          {{player.surname}} {{player.name}} {{player.patronymic}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-icon (click)="clear()" color="warn">
      clear icon
    </mat-icon>
  </div>
</form>
