.tournament-row-is-clicked {
  font-weight: bold;
}

.factory-list-container {
  margin-top: 40px;
  width: 1300px;
}

.create-button {
  margin-top: 25px;
}

.cell {
  vertical-align: middle;
}

.margin-custom {
  width: auto;
  margin: 10px 50px;
}
