<div class="container-fluid full-height">
  <div class="row full-width full-height">
    <div class="col-2 div-side-bar">
      <mat-nav-list class="text-white side-bar">
        <mat-list-item routerLink="../overview">Обзор</mat-list-item>
        <mat-list-item>Расписание</mat-list-item>
        <mat-list-item routerLink="../.." class="my-4">
          <mat-icon color="accent">keyboard_backspace</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <div class="col-md-8 mx-lg-5 full-height">
      <h1 class="text-white text-lg-center factory-header full-width">
        {{factory.name}}
      </h1>
      <h2 class="text-white text-lg-center factory-header full-width">
        {{factory.category}}
      </h2>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




