.tournament-card {
  width: 100%;
  margin: auto;
  padding: 10px 0 0 0;
}


.factory-container {


}

.tournament-card-header {

}

.factory-header {

}


.div-side-bar {
  width: min(250px, 15%);
  padding: 0;
  height: 100%;
}

.side-bar {
  background-color: #071823;
  height: 100%;
}


