<div class="col-md-12 px-0 my-4">
  <div class="player-container">
    <mat-card class="color-dark">
      <mat-card-content>
        <div class="d-flex my-1 justify-content-between w-100">
          <div>Список игроков</div>
          <div>
            <a mat-button>
              <mat-icon color="accent">create</mat-icon>
            </a>
            <a mat-button *ngIf="false">
              <mat-icon class="green">check</mat-icon>
            </a>
            <a mat-button *ngIf="false">
              <mat-icon color="warn">clear</mat-icon>
            </a>
          </div>
        </div>

        <form class="example-form" [formGroup]="formGroup" *ngIf="searchMode">
          <div class="d-block justify-content-evenly w-75">

            <mat-form-field class="mx-2" appearance="fill">
              <mat-label>Фамилия</mat-label>
              <input matInput
                     [(ngModel)]="playerListFilterOptions.surname"
                     formControlName="surname">
            </mat-form-field>

            <mat-form-field class="mx-2" appearance="fill">
              <mat-label>Город</mat-label>
              <input matInput
                     [(ngModel)]="playerListFilterOptions.city"
                     formControlName="city">
            </mat-form-field>

            <div class="d-block">
              <div class="shady-header">Год рождения</div>
              <ngx-slider class="custom-slider mx-2"
                          [(value)]="playerListFilterOptions.dobYearFrom"
                          [(highValue)]="playerListFilterOptions.dobYearUntil"
                          [options]="yearOptions"></ngx-slider>
            </div>

            <div class="d-block">
              <div class="shady-header">Рейтинг</div>
              <ngx-slider class="custom-slider mx-2"
                          [(value)]="playerListFilterOptions.pointsFrom"
                          [(highValue)]="playerListFilterOptions.pointsUntil"
                          [options]="pointOptions"></ngx-slider>
            </div>

            <div>
              <mat-radio-group
                [(ngModel)]="playerListFilterOptions.gender"
                [ngModelOptions]="{standalone: true}"
                class="mx-2">
                <mat-radio-button *ngFor="let option of genderOptions"
                                  [value]="option.value"
                                  class="mx-2 my-1">{{option.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </form>
        <div class="d-block m-2">
          <a mat-button (click)="startSearch()" *ngIf="!searchMode">
            <mat-icon color="accent">search</mat-icon>
          </a>
          <a mat-button (click)="endSearch()" *ngIf="searchMode">
            <mat-icon color="warn">clear</mat-icon>
          </a>
          <a mat-button color="accent" *ngIf="searchMode"
             (click)="submitFilterOptions()">Поиск</a>
        </div>

        <hr>

        <div class="mx-2 page-size-container">
          <div class="d-flex justify-content-evenly">
            <div class="d-flex align-items-center mx-2">Размер страницы</div>
            <mat-form-field class="input">

              <input matInput
                     type="number"
                     [(ngModel)]="pageSize">
            </mat-form-field>
          </div>
        </div>

        <div class="float-start mx-2 d-flex justify-content-center">
          <a *ngIf="pages.length > 1" [disabled]="currentPage == 1" mat-button color="accent" (click)="updatePaginatedList(1)">1</a>
          <a *ngIf="pages.length > 2 && currentPage > 2" mat-button color="accent" (click)="updatePaginatedList(2)">2</a>
          <a *ngIf="currentPage > 4" disabled mat-button color="accent">...</a>
          <a *ngIf="currentPage > 3" mat-button color="accent" (click)="updatePaginatedList(currentPage - 1)">{{currentPage - 1}}</a>
          <a *ngIf="currentPage >= 2" disabled mat-button color="accent" (click)="updatePaginatedList(currentPage)">{{currentPage}}</a>
          <a *ngIf="pages[pages.length - 1] - currentPage >= 1" mat-button color="accent" (click)="updatePaginatedList(currentPage + 1)">{{currentPage + 1}}</a>
          <a *ngIf="pages[pages.length - 1] - currentPage > 2" disabled mat-button color="accent">...</a>
          <a *ngIf="pages[pages.length - 1] - currentPage > 1" [disabled]="currentPage == pages[pages.length - 1]" mat-button color="accent"
             (click)="updatePaginatedList(pages[pages.length - 1])">{{pages[pages.length - 1]}}</a>
        </div>

        <mat-progress-bar mode="indeterminate" *ngIf="!totalPlayers"
                          color="accent"
                          class="margin-custom"></mat-progress-bar>
        <table mat-table [dataSource]="players ?? []" class="custom-table">
          <!-- RNI Column -->
          <ng-container matColumnDef="RNI">
            <th mat-header-cell *matHeaderCellDef>РНИ</th>
            <td mat-cell *matCellDef="let element">{{element.rni}}</td>
          </ng-container>

          <!-- Index Column -->
          <ng-container matColumnDef="Index">
            <th mat-header-cell *matHeaderCellDef class="shady-header">#</th>
            <td mat-cell *matCellDef="let element; let i = index"
                class="shady-header">{{(currentPage - 1) * pageSize + i + 1}}</td>
          </ng-container>

          <!-- FIO Column -->
          <ng-container matColumnDef="FIO">
            <th mat-header-cell *matHeaderCellDef>ФИО</th>
            <td mat-cell *matCellDef="let element">{{element.surname}}
              {{element.name == null && element.name.length > 0 ? '' : element.name + ' '}}
              {{element.patronymic == null && element.patronymic.length > 0 ? '' : element.patronymic + ' '}}</td>
          </ng-container>

          <!-- DoB Column -->
          <ng-container matColumnDef="DoB">
            <th mat-header-cell *matHeaderCellDef>Дата рождения</th>
            <td mat-cell *matCellDef="let element">{{element.dateOfBirth | date: 'dd.MM.YYYY'}}</td>
          </ng-container>

          <!-- City Column -->
          <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef>Город</th>
            <td mat-cell *matCellDef="let element">{{element.city}}</td>
          </ng-container>

          <!-- Point Column -->
          <ng-container matColumnDef="Points">
            <th mat-header-cell *matHeaderCellDef>Рейтинг</th>
            <td mat-cell *matCellDef="let element">{{element.point}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr style="vertical-align: middle"
              mat-row
              *matRowDef="let row; columns: displayedColumns;"
              (click)="redirectToPlayer(row.rni)"
          ></tr>
        </table>
        <div class="add-button">
          <a mat-button color="accent" routerLink="../post">Добавить участника</a>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>
