<div class="row">
  <mat-card class="color-dark col-md-12 my-4">
    <mat-card-header>Сетка</mat-card-header>
    <mat-card-content>
      <drag-scroll [scrollbar-hidden]="true" class="net">
        <ngtt-single-elimination-tree
          [tournament]="singleTournamentViewModel"
          [matchTemplate]="myMatchTemplate">
        </ngtt-single-elimination-tree>
      </drag-scroll>
    </mat-card-content>
  </mat-card>

  <div class="col-md-12 px-0 my-4">
    <mat-card class="color-dark" (click)="update()">
      <mat-card-header (click)="update()">Список участников</mat-card-header>
      <mat-card-content >
        <mat-list role="list" *ngFor="let player of players">
          <mat-list-item role="listitem">{{player.surname}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<ng-template #myMatchTemplate let-match>
  <app-single-match-preview [match]="match"
                            style="display: flex; justify-content: stretch; width: 100%">
  </app-single-match-preview>
</ng-template>

