<div class="col-md-12 px-0 my-4">
  <div *ngIf="general.currentTournament">
    <mat-card class="color-dark">
      <mat-card-header class="bright-header">{{general.currentTournament?.stage == 0 ? 'Основной тур' : 'Квалификация'}}</mat-card-header>
      <mat-card-content>
        <div class="d-flex justify-content-end margin-top">
          <a mat-button (click)="openDialogFor(general.currentTournament!.id)" *ngIf="editMode">
            <mat-icon color="accent">add</mat-icon>
          </a>
          <a mat-button (click)="changeEdit()">
            <mat-icon color="accent">create</mat-icon>
          </a>
        </div>

        <table mat-table [dataSource]="players ?? []" class="custom-table custom-table-animation">
          <!-- RNI Column -->
          <ng-container matColumnDef="RNI">
            <th mat-header-cell *matHeaderCellDef>РНИ</th>
            <td mat-cell *matCellDef="let element"
                (click)="redirectToPlayer(element.rni)">{{element.rni}}</td>
          </ng-container>

          <!-- Index Column -->
          <ng-container matColumnDef="Index">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index" class="index"
                (click)="redirectToPlayer(element.rni)">{{i + 1}}</td>
          </ng-container>

          <!-- Point Column -->
          <ng-container matColumnDef="Points">
            <th mat-header-cell *matHeaderCellDef>Рейтинг</th>
            <td mat-cell *matCellDef="let element"
                (click)="redirectToPlayer(element.rni)">{{element.point}}</td>
          </ng-container>

          <!-- FIO Column -->
          <ng-container matColumnDef="FIO">
            <th mat-header-cell *matHeaderCellDef>ФИО</th>
            <td mat-cell *matCellDef="let element"
                (click)="redirectToPlayer(element.rni)">{{element.surname}}
              {{element.name == null && element.name.length > 0 ? '' : element.name[0] + '.'}}
              {{element.patronymic == null && element.patronymic.length > 0 ? '' : element.patronymic[0] + '.'}}</td>
          </ng-container>

          <!-- DoB Column -->
          <ng-container matColumnDef="DoB">
            <th mat-header-cell *matHeaderCellDef>Дата рождения</th>
            <td mat-cell *matCellDef="let element"
                (click)="redirectToPlayer(element.rni)">{{element.dateOfBirth | date: 'dd.MM.YYYY'}}</td>
          </ng-container>

          <!-- City Column -->
          <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef>Город</th>
            <td mat-cell *matCellDef="let element"
                (click)="redirectToPlayer(element.rni)">{{element.city}}</td>
          </ng-container>

          <!-- Delete Column -->
          <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="delete-button-column" mat-cell *matCellDef="let element">
              <a mat-button
                 (click)="delete(general.currentTournament?.id!, element)"
                 *ngIf="editMode">
                <mat-icon color="warn">clear</mat-icon>
              </a></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr style="vertical-align: middle"
              mat-row
              *matRowDef="let row; columns: displayedColumns;"
          ></tr>
        </table>
        <div class="add-button m-2">
          <a *ngIf="editMode"
             mat-button
             color="accent"
             (click)="openDialogFor(general.currentTournament!.id)"
          >Добавить участника
            <mat-icon>add icon</mat-icon>
          </a>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>
