.matches-container{
  width: 1200px;
}


.lose{
  background: rgb(247,247,247);
  background: linear-gradient(90deg, rgba(247,247,247,0) 0%, rgba(191,0,0,0.5) 100%);
}

.win{
  background: rgb(247,247,247);
  background: linear-gradient(90deg, rgba(247,247,247,0) 0%, rgba(84,193,0,0.5) 100%);
}
