<div class="profile-header text-white">
  <div class="d-flex justify-content-center">
    <div class="profile-container d-flex align-items-center">
      <div class="image-container">
        <img src="{{imageSrc}}" alt="no avatar">
      </div>
      <div class="fio-container">
        <div *ngIf="role == Roles.User && !authService.account?.player">
          <div>Если Вы участник РТТ, то можете привязать свою статистику к этому аккаунту</div>
          <a mat-button (click)="findPlayer()">Найти себя</a>
        </div>
        <div class="bright-header" *ngIf="authService.account?.player">
          <div class="text-xxx-large col-6">{{authService.account?.player?.surname}}</div>
          <div
            class="text-x-large col-6">{{authService.account?.player?.name}} {{authService.account?.player?.patronymic}}</div>
        </div>
      </div>
      <div class="skill-container d-block bright-header">
        <div *ngIf="role == Roles.User && authService.account?.player">
          <div class="rating-container text-xx-large"><span
            class="shady-header">Рейтинг РТТ </span>{{authService.account?.player?.point}}</div>
          <div class="rank-container text-x-large"><span class="shady-header">Разряд </span>II Взрослый</div>
        </div>
        <div *ngIf="role == Roles.Org" class="bright-header">
          Организатор турниров
        </div>
        <div *ngIf="role == Roles.Admin" class="bright-header">
          Администратор
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="role == Roles.User && authService.account?.player" class="d-flex justify-content-center">
    <mat-tab-group [selectedIndex]="userSelected.value"
                   (selectedIndexChange)="openTab(userTabs[$event])"
                   color="accent" dynamicHeight class="tab-group">
      <mat-tab *ngFor="let tab of userTabs; let i = index"
               label="{{tab.view}}"
               class="bright-header text-center tab">
      </mat-tab>
    </mat-tab-group>
  </div>

  <div *ngIf="role == Roles.Org" class="d-flex justify-content-center">
    <mat-tab-group [selectedIndex]="orgSelected.value"
                   (selectedIndexChange)="openTab(orgTabs[$event])"
                   color="accent" dynamicHeight class="tab-group">
      <mat-tab *ngFor="let tab of orgTabs; let i = index"
               label="{{tab.view}}"
               class="bright-header text-center tab">
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div>
  <router-outlet *ngIf="authService.account"></router-outlet>
</div>


