<div class="d-flex justify-content-center">
  <div class="overview-container margin-top">
    <div class="left-container">

      <!-- fio -->

      <div class="fio">
        <app-profile-overview-fio></app-profile-overview-fio>
      </div>

      <!-- heatmap -->

      <div class="heatmap">
        <app-profile-overview-heatmap></app-profile-overview-heatmap>
      </div>
    </div>
    <div class="right-container">

      <!-- statistics -->

      <div class="statistics">
        <app-profile-overview-statistics></app-profile-overview-statistics>
      </div>

      <!-- triangle -->

      <div class="triangle">
        <app-profile-overviewtriangle></app-profile-overviewtriangle>
      </div>
    </div>
  </div>
</div>
