.tournament-table-container {
  margin: min(10%, 50px) min(20%, 100px);
}

.tournament-table {
  width: 100%;
}

.tournament-row-is-clicked {
  font-weight: bold;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #192a3d;
}

.create-button{
  margin-top: 25px;
}

