<mat-card style="left: 0">
  <mat-card-content cdkDropList
                    [cdkDropListConnectedTo]="dragDropService.dropLists"
                    [cdkDropListData]="general.missingPlayers ?? []"
                    (cdkDropListDropped)="dropHandle($event)">
    <h6 class="shady-header">Игроки в матче</h6>
    <hr>
    <div *ngFor="let player of general.missingPlayers ?? []">
      <mat-card
        cdkDrag [cdkDragData]="player"
        (cdkDragStarted)="dragStart($event)"
        (cdkDragEnded)="dragEnd($event)">
        <mat-card-content [textContent]="player.getShortFio()"></mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>

<!--
<a mat-button class="single-match" (click)="update()">
  <span cdkDropList
        id="list-3"
        cdkDropListConnectedTo="list-1"
        [cdkDropListData]="tempDeleteMePls ?? []"
        (cdkDropListDropped)="dropHandle($event)">
    <a mat-button class="player" [ngClass]="player1.rni == match?.winner?.rni ? 'bold' : ''" *ngIf="player1"
       cdkDrag
       [cdkDragData]="player1"
    >
      <p>{{player1?.surname}} {{player1?.name?.length! > 0 ? player1?.name![0] + '.' : ' '}}</p>
    </a>
     <a mat-button class="player" *ngIf="!player1">
       	<mat-icon>clear</mat-icon>
    </a>
  </span>
  <div class="score" *ngFor="let digit of score1">
    <span class="mx-1" [ngClass]="digit.win ? 'green': 'red'">{{digit.value}}</span>
  </div>
  <hr class="line">
  <span>
    <a mat-button class="player" [ngClass]="player2.rni == match?.winner?.rni ? 'bold' : ''" *ngIf="player2"
       cdkDrag
       (cdkDragDropped)="drop($event)">
       {{player2?.surname}} {{player2?.name?.length! > 0 ? player2?.name![0] + '.' : ' '}}
    </a>
    <a mat-button class="player" *ngIf="!player2">
       	<mat-icon>clear</mat-icon>
    </a>
  </span>
  <div class="score" *ngFor="let digit of score2">
    <span class="mx-1" [ngClass]="digit.win ? 'green': 'red'">{{digit.value}}</span>
  </div>
</a>


!-->
