.schedule-container {
}

.table-header {

}

.schedule-table{
  text-align: center;
  table-layout: fixed;


}

th, td, tr {
  border: 1px solid #d1ebff;
  vertical-align: center;
}

.vertical-center{
  vertical-align: middle;
}

.match-order {
  width: 100px;
}

.schedule {
  height: 1200px;
}

.add-order-button{
  height: 200px;
  width: available;
  left: 0;
}

.remove-order-button{
  width: 120px;
}

.no-border{
  border: 1px solid rgba(0,0,0,0);
  border-right: inherit;
}

.match{
  :hover{
    background: #ADFF2F;
  }
}

.icon-size{
  width: 100px;
  height: available;
}

.order-left{
  display: flex;
  align-items: center;
}
