/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
@import '~ng-tournament-tree/styles/ngtt-styles';

html, body {
  height: 100%;
}

body {
  background-size: cover;
  background: #1a2a3d;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.full-height{
  height: 100%;
}

.side-bar {
  background-color: #071823;
  padding: 20px;
  min-width: 220px;
}

.full-width{
  width: 100%;
}

.custom-table {
  width: 100%;
  border-bottom-color: rgba(225, 230, 232, 0.12);

  td, th{
    vertical-align: middle;
  }

  .index{
    font-size: x-small;
    text-align: left;
    color: #7a7a7a;
  }
}

.margin-top{
  margin-top: 40px;
}

.screen-height{
  min-height: 100%;
}

.shady-header{
  font-size: small;
  color: #989898;
}

.value{
  color: #49a4ff;
  font-size: large;
  text-align: right;
}


.red{
  color: #E44749;
}

.blue{
  color: #49a4ff;
}

.green{
  color: #ADFF2F;
}

.bold{
  font-weight: bold;
}

.z-20{
  z-index: 20;
}

.bright-header{
  font-family: 'Montserrat', serif;

  .text-xxx-large{
    font-size: xxx-large;
    line-height: 40px;
  }

  .text-xx-large{
    font-size: xx-large;
    line-height: 40px;
  }

  .text-x-large{
    font-size: x-large;
    line-height: 40px;
  }

  .text-large{
    font-size: large;
    line-height: 40px;
  }
}

.w-33{
  width: 33.33%;
}

.w-60{
  width: 60%;
}


.timepicker-overlay{
  z-index: 5000 !important;
}

.timepicker-backdrop-overlay{
  z-index: 5000 !important;
}

.delete-button-column{
  width: 50px;
}

.y-scroll{
  overflow-x: hidden;
  overflow-y: scroll;
}

.side-menu {
  background: #081e2c;
  height: 800px;
  width: 200px;
  right: 0;
  display: inline-block;
  vertical-align: top;
}

.crop-right-200 {
  width: calc(100% - 200px);
}

.crop-right-300 {
  width: calc(100% - 200px);
}

.example-spacer {
  flex: 1 1 auto;
}

.menu-shadow{
  box-shadow: 1px 3px 20px #49a4ff;
}

.div-shadow{
  box-shadow: 1px 3px 20px #49a4ff;
}

.custom-table-animation {
  .mat-row .mat-cell {
    cursor: pointer;
  }

  .mat-row:hover .mat-cell {
    background-color: #192a3d;
  }
}
