/* You can add global styles to this file, and also import other style files */
@import '~ng-tournament-tree/styles/ngtt-styles';

//@import 'my-tree-configuration';

html, body {
  height: 100%;
}

body {
  background-size: cover;
  background: #1a2a3d;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-height{
  height: 100%;
}

.side-bar {
  background-color: #071823;
  padding: 20px;
  min-width: 220px;
}

.full-width{
  width: 100%;
}

.custom-table {
  width: 100%;
  border-bottom-color: rgba(225, 230, 232, 0.12);

  td, th{
    vertical-align: middle;
  }

  .index{
    font-size: x-small;
    text-align: left;
    color: #7a7a7a;
  }
}

.margin-top{
  margin-top: 40px;
}

.screen-height{
  min-height: 100%;
}

.shady-header{
  font-size: small;
  color: #989898;
}

.value{
  color: #49a4ff;
  font-size: large;
  text-align: right;
}
