<div *ngIf="match">
  <div *ngIf="player">
    <div [ngClass]="match.winner ? (match.winner?.rni == player?.rni ? 'green' : 'red') : ''">
      <div class="text-xx-large bright-header">
        {{player?.surname}}
      </div>
      <div class="text-x-large bright-header">
        {{player?.name}} {{player?.patronymic}}
      </div>
    </div>
    <div class="text-x-large">
      {{player?.city}}
    </div>
  </div>
  <div class="text-end text-xxx-large bright-header mx-2" *ngIf="!player">
    <div class="text-xxx-large">
      Bye
    </div>
  </div>
</div>
